<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>
            <%= home.owner.username%>'s <%=home.class%>
        </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <h1>
            <%= home.owner.username%>'s <%=home.class%>
        </h1>

        <img id="show-image" src="<%= home.image  %>" alt="<%=home.owner.username%>'s <%=home.class%>">

        <div>
            <%= home.city %>
                <%= home.class %>
                    <%= home.numBedrooms %> Bed
                        <%= home.numBathrooms %> Bath
        </div>

        <div>
            Beach Access: <%= home.beachAccess %>
                Pool Available: <%= home.poolAvailable %>
                    Pets Allowed: <%= home.petsAllowed %>
        </div>



        <div>
            <% if(home.owner._id.equals(user._id)) { %>
                <a href="/homes/<%=home._id %>/edit">Edit this Home</a>
                <form action="/homes/<%=home._id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete this Home</button>
                </form>

                <% } else { %>

                    <% if (userHasSwappedRight) { %>

                        <form action="/homes/<%= home._id %>/swapped-right-by/<%=user._id%>/?_method=DELETE"
                            method="POST">
                            <button type="submit">Un-Swap Right on this Home</button>
                        </form>

                        <%} else {%>

                            <form action="/homes/<%= home._id %>/swapped-right-by/<%=user._id%>" method="POST">
                                <button type="submit">Swap Right on this Home</button>
                                <% }} %>
        </div>
</body>

</html>