<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
        <title>
            <%= home.owner.username%>'s <%=home.class%>
        </title>
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>

        <section id="home-card-section">
            <h1>
                <%= home.owner.username%>'s <%=home.class%>
            </h1>

            <img id="show-image" src="<%= home.image  %>" alt="<%=home.owner.username%>'s <%=home.class%>">

            <div>
                <% const isOwner=home.owner._id.equals(user._id) %>

                    <% if (isOwner) { %>

                        <%= home.streetAddress %>,
                            <% } %>
                                <%= home.city %>,
                                    <%= home.class %>
                                        <%= home.numBedrooms %> Bed
                                            <%= home.numBathrooms %> Bath

            </div>
        </section>
        <div id="additionals-div">
            <p>Beach Access: <%= home.beachAccess ? "Yes" : "No" %>
            </p>
            <p>Pool Available: <%= home.poolAvailable ? "Yes" : "No" %>
            </p>
            <p>Pets Allowed: <%= home.petsAllowed ? "Yes" : "No" %>
            </p>
        </div>




        <div id="trailing-div">
            <% if(isOwner) { %>
                <div>
                    <button><a href="/homes/<%=home._id %>/edit">Edit this Home</a></button>
                </div>
                <div>
                    <form action="/homes/<%=home._id %>?_method=DELETE" method="POST">
                        <button type="submit">Delete this Home</button>
                    </form>
                </div>

                <% } else { %>

                    <% if (userHasSwappedRight) { %>

                        <form action="/homes/<%= home._id %>/swapped-right-by/<%=user._id%>/?_method=DELETE"
                            method="POST">
                            <button type="submit">Un-Swap Right on this Home</button>
                        </form>

                        <%} else {%>

                            <form action="/homes/<%= home._id %>/swapped-right-by/<%=user._id%>" method="POST">
                                <button type="submit">Swap Right on this Home</button>
                                <% }} %>
        </div>

        <div id="swap-div">
            <h3>Swap Matches</h3>

            <% if (!isOwner && userHasSwappedRight && theySwappedRightOnMe) { %>
                <p>You and <%= home.owner.username %> have swapped-right on each other's home.</p>
                <p> You can contact them at <%= home.owner.email %> to discuss availability.
                </p>
                <% } else if (!isOwner && userHasSwappedRight) { %>
                    <p>You've swapped-right on this home. Waiting for <%= home.owner.username %> to swap-right one of
                            your homes.</p>
                    <% } %>
        </div>
</body>

</html>