<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Available listings</title>
</head>

<body>
    <%- include('../partials/_navbar.ejs', {user: user}) %>
        <h1>Available Swap Listings</h1>
        <ul>
            <% listings.forEach(listing=> { %>
                <% if (listing.username.owner !==req.session.user) { %>
                    <li>
                        <a href="/listings/<%= listing._id%>">
                            <%=listing.image %>
                        </a>
                        <%= listing.city %>
                            <%= listing.class %>
                                <%= listing.numBedrooms %>
                                    <%= listing.numBathrooms %>
                    </li>
                    <% console.log(listing.username.owner) %>
                        <% console.log(req.session.user) %>
                            <% } %>
                                <% }) %>
        </ul>
</body>

</html>