<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/_navbar.ejs', {user: user}) %>
        <h1>Available Swap Listings</h1>
        <ul>
            <% listings.forEach(listing=> { %>
                <% if (String(listing.owner) !==String(user)) { %>
                    <li>
                        <a href="/listings/<%= listing._id%>">
                            <img id="home-image" src="<%=listing.image %>"
                                alt="<%=listing.class%> in <%=listing.city%>">
                        </a>
                        <%= listing.city %>
                            <%= listing.class %>
                                <%= listing.numBedrooms %> Bed
                                    <%= listing.numBathrooms %> Bath
                    </li>
                    <% } %>
                        <% }) %>
        </ul>
</body>

</html>