<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>
    <%- include('../partials/_navbar.ejs', {user: user}) %>
        <h1>My Profile</h1>

        <button><a href="/homes/new">Add a New Home to be Swapped</a></button>

        <h3> My Homes</h3>

        <ul>
            <% myHomes.forEach(home=> { %>
                <li>
                    <a href="/homes/<%= home._id%>">
                        <img id="home-image" src="<%=home.image %>" alt="<%=home.class%> in <%=home.city%>">

                        <p>
                            <%= home.city %>
                        </p>
                        <p>
                            <%= home.class %>
                        </p>
                        <p>
                            <%= home.numBedrooms %> Bed / <%= home.numBathrooms %> Bath
                        </p>
                    </a>
                </li>
                <% }) %>
        </ul>

        <h3>Swapped Right Homes</h3>

        <ul>
            <% swappedRightHomes.forEach(home=> { %>
                <li>
                    <a href="/homes/<%= home._id%>">
                        <img id="home-image" src="<%=home.image %>" alt="<%=home.class%> in <%=home.city%>">

                        <p>
                            <%= home.city %>
                        </p>
                        <p>
                            <%= home.class %>
                        </p>
                        <p>
                            <%= home.numBedrooms %> Bed / <%= home.numBathrooms %> Bath
                        </p>
                    </a>
                </li>
                <% }) %>
        </ul>